.gls-form-label {
  font-weight: bold;
}

.gls-form-input {
  border-radius: 0.375rem !important;
}

.gls-field-span {
  align-content: center;
  padding-left: 0.375rem;
}

.gls-field-icon-ok {
  color: #28a745;
}

.gls-field-icon-ko {
  color: #dc3545;
}
