::ng-deep  .leagal-data-checkbox gls-input-checkbox .form-check{
    padding-left: 0px;
}
::ng-deep  .leagal-data-checkbox gls-input-checkbox .form-check input{
    margin: 3px 3px 0px 5px;
}
::ng-deep{
    .feature-radio.form-check-input[type=radio]{
    width: 1.2em !important;
    height: 1.2em !important;
    border-radius: 50% !important;
    margin-right: 0.35rem;
  }
}
