@import '../../../../../../../assets/scss/variables.scss';

.warning-icon {
  color: #ffc107;
  font-size: 24px;
}

.warning-message-title {
  color: #000;
  font-weight: 700;
  font-size: 20px;
}

.warning-message-body {
  color: #000;
  font-weight: 400;
  font-size: 16px;
}

.warning-close-icon {
  font-size: 15px;
  color: #061ab1;
}

.search-result-number {
  font-family: 'Newson GLS DTP', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0;
  font-weight: 900;
  color: $primary;
}

.accordion-header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.accordion-button {
  padding: 1rem 0.5rem;
  flex: 0 0 auto;
  width: auto;
  pointer-events: none;
}

.accordion-button::after {
  left: 1.75rem;
  right: auto;
  margin-left: 0;
  order: 1;
  pointer-events: auto;
  padding: 0.5rem;
  cursor: pointer;
  transform: rotate(270deg);
  transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(360deg);
}

.accordion-outer-container {
  padding: 1rem;
  background-color: #ffffff;
}
