<div class="modal-header">
    <h5 class="modal-title">{{ 'userProfile.modal.impersonificateHeader' | translate }} <span class="container-header"> {{apiResponse?.name}}  {{apiResponse?.surname}}</span></h5>
    <button (click)="closeModal()" (keyup.enter)="closeModal()" aria-label="Close" class="btn-close"
        type="button"></button>
</div>
<div class="modal-body">
<p class="card-text" [innerHTML]="'userProfile.modal.impersonificateContent' | translate: { name: apiResponse?.name, surname: apiResponse?.surname }"></p>
</div>
<div class="modal-footer">
    <button (click)="closeModal()" (keyup.enter)="closeModal()" aria-label="Close" class="btn btn-outline-primary"
        type="button">
        {{ 'modal.cancelText' | translate }}
    </button>
    <button (click)="proceed()" (keyup.enter)="proceed()" aria-label="Ok" class="btn btn-primary" type="button">
        {{ 'userProfile.modal.proceed' | translate }}
    </button>
</div>