.table-card {
  background-color: white;
  box-shadow: 0 2px 3px #b7b7b7;
  padding: 0.5rem;
  max-width: calc(100vw - 2em);
  border-collapse: collapse;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch !important;
  scrollbar-width: random($limit: 1);
  scrollbar-color: #061ab1 #ffffff;
  -webkit-scrollbar-thumb: 1;
}

.custom-tooltip .tooltip-inner {
  background-color: #061ab1;
  color: #fff;
  max-width: 300px;
  white-space: pre-line;
}

.result {
  display: block;
}

.table-sort-selected {
  color: #061ab1 !important;
}
