@media screen and (max-width: 780px) {
  .draft-card {
    max-width: unset;
    width: 100%;

    .card-body {
      padding: 16px;
    }

    .card-content {
      flex-wrap: wrap;
    }
  }
}

.draft-card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;

  &.grabbing {
    cursor: grabbing !important;
  }

  .card-content {
    flex-wrap: nowrap;
  }

  .card-body {
    padding: 16px;
  }

  ::ng-deep .card-code {
    font-size: 1rem;
    font-weight: 600;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  ::ng-deep .card-title {
    color: #061ab1;
    font-size: 18px;
    font-weight: 700;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  ::ng-deep .card-info {
    font-size: 12px;
    font-weight: 500;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  .align-self-end {
    position: absolute;
    right: 5px;
  }
}

.carousel-indicators-container {
  .carousel-indicator {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #061ab1;
    border-radius: 50%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .carousel-indicator.active {
    background-color: #061ab1;
  }

  .carousel-indicator .dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
  }
}
