<div [formGroup]="formGroup" class="w-100">
  <label *ngIf="label" [for]="id" class="form-label gls-form-label">
    {{ label | translate }}{{ utility.requiredFieldControl(formGroup, controlName) }}:
  </label>
  <div class="input-group">
    @if (type === 'number') {
      <input
        [id]="id"
        [formControlName]="controlName"
        [type]="type"
        [class]="class"
        [min]="min"
        [max]="max"
        [ngClass]="{ 'gls-form-input': true, error: invalid() && dirty() }"
        [placeholder]="placeholder || '' | translate"
        [attr.aria-label]="label || id | translate"
        [attr.aria-describedby]="label || id | translate"
        appTrimInput
        (blur)="onBlur($event)" />
    } @else if (type === 'decimal' && decimalControl) {
      <input
        [id]="id"
        [formControl]="decimalControl"
        [type]="'text'"
        [class]="class"
        [ngClass]="{ 'gls-form-input': true, error: invalid() && dirty() }"
        [placeholder]="placeholder || '' | translate"
        [attr.aria-label]="label || id | translate"
        [attr.aria-describedby]="label || id | translate"
        appTrimInput
        (blur)="onBlur($event)" />
    } @else {
      <input
        [id]="id"
        [formControlName]="controlName"
        [type]="type"
        [class]="class"
        [ngClass]="{ 'gls-form-input': true, error: invalid() && dirty() }"
        [placeholder]="placeholder || '' | translate"
        [attr.aria-label]="label || id | translate"
        [attr.aria-describedby]="label || id | translate"
        appTrimInput
        (blur)="onBlur($event)" />
    }
    @if (showStatus) {
      <gls-input-status-section
        class="align-content-center ms-2"
        [formGroup]="formGroup"
        [controlName]="controlName"
        [showError]="showError"></gls-input-status-section>
    }
  </div>
  <span *ngIf="invalid() && dirty()" [id]="id + '-error-label'" class="gls-form-error">
    {{ utility.getErrorMessage(fc.errors, errorMessage) | translate }}
  </span>
</div>
