.btn-no-border {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  padding: 6px 2px 0px 2px;
}
.btn-no-border  .bi-pencil-square {
  font-size:x-large;
  
}
