@import "../../../../assets/scss/variables";

// Definizione delle variabili
$sidebar-width: 250px;

.sidebar {
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  background-color: $gls-blue !important;

  @media (max-width: 768px) {
    position: fixed;
    z-index: 1000;
  }
}

.components li a {
  color: $white !important;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #f0f0f0 !important; // Colore al passaggio del mouse
  }
}

.btn-bg-blue {
  color: $white;
  background-color: $gls-blue !important;
}

.circular-button {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: $gls-yellow;

  .arrow-icon {
    color: $gls-blue;
  }
}