@import '../../../../../assets/scss/variables.scss';

.form-label {
  font-weight: bold;
}

.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.file-name {
  font-weight: bold;
}

.upload-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
}

.upload-info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-info p {
  font-size: 12px;
  color: #555;
  margin-bottom: 0;
}

.upload-button {
  background: #ffcc00;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: black;
}

input[type='file'] {
  display: none;
}

.upload-progress {
  flex: 1;
  margin-left: 20px;
}

.progress-bar {
  background-color: blue;
  transition: width 0.5s ease-in-out;
}
.success-message {
  background-color: #c8e6c9;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
}

.success-message em {
  color: green;
  font-size: 18px;
}

.close-icon {
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.ko-icon {
  color: #dc3545;
  padding-right: 5px;
}
.structure-card {
  border-color: $primary;
  .card-active {
    background-color: $primary;
    .value {
      color: $white;
    }
    img {
      filter: brightness(0) invert(1);
    }
  }
  .value {
    font-weight: 700;
    color: $primary;
  }
}

.text-align-left {
  text-align: left;
}
