<div class="container-box mt-4" aria-label="Template Detail">
  @if (loadPage) {
    <div>
      <div>
        <h1 class="container-header w-100">
          <img [src]="getTemplateIcon(icon)" alt="Icon" height="50" class="me-3" />
          {{ title | translate }}
        </h1>
      </div>
      <div>
        <span class="container-subtitle mt-3">{{ 'anagrafica.template.list.detail.subtitle' | translate }}</span>
      </div>
      <ng-container id="budges">
        <div class="row mt-3">
          <gls-title-budge [label]="'anagrafica.template.list.detail.idTemplate' | translate" [value]="idTemplateString"> </gls-title-budge>
        </div>
      </ng-container>
    </div>
    @if (messageStatusService.messageState$ | async) {
      <gls-messages></gls-messages>
    }

    <div class="text-end">
      <button
        *ngIf="hasAccess(PROFILE.any, FUNCTIONALITY.networkTemplate, PERMISSION.write)"
        (click)="editTemplate()"
        [attr.aria-label]="'anagrafica.template.list.detail.edit' | translate"
        [ngClass]="{ 'w-100 my-1': isSmallMobile, 'my-3': !isSmallMobile }"
        class="btn btn-primary "
        type="button">
        <em class="bi bi-pencil-square"></em>
        {{ 'anagrafica.template.list.detail.edit' | translate }}
      </button>
    </div>

    @if (showRotateCard()) {
      <div class="my-4">
        <app-info-mobile class="my-4" [label]="'generic.mobile.table-view'" />
      </div>
    }

    <gls-view-details [fieldsList]="fieldsList()" [formGroupInput]="formGroup" />
  }
</div>
