.icon-warning {
  color: #061ab1;
  font-size: 18px;
  margin-left: 8px;
}
.icon-default {
  color: black;
  font-size: 18px;
  margin-left: 8px;
}
.ko-icon {
  color: #dc3545;
  padding-right: 5px;
}
.file-name {
  line-height: 2.5;
}
